/* Responsive Design for Mobile Devices */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
        height: auto;
        padding: 0.5em;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        margin: 0.5em 0;
    }

    nav ul li a {
        padding: 1em;
        font-size: 1.1em;
    }

    .slider {
        height: 250px;
    }

    main {
        margin-top: 300px; /* Header ve slider yüksekliğine göre ayarlayın */
    }

    .service-block {
        width: 100%;
        margin: 0 0 1em;
    }
}

@media (max-width: 480px) {
    header {
        padding: 0.5em;
    }

    nav ul li a {
        padding: 0.5em;
        font-size: 1em;
    }

    .slider {
        height: 200px;
    }

    main {
        margin-top: 250px; /* Header ve slider yüksekliğine göre ayarlayın */
    }
}
